 @page
@model ServiesHost.Areas.AddMin.Page.Shop.ProductCategorys.IndexModel
@{
    Layout = "Shared/_AddminLayout";
    ViewData["title"] = "مدیریت گروه محصولات";
}
<div class="row">
    <div class="col-sm-12">
        <h4 classs="page-title pull-right">@ViewData["title"]</h4>
        <p class="pull-left">
            <a class="btn btn-success btn-lg">ایجاد گروه محصول جدید</a>
        </p>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">جستجو درگروه محصولات</h3>
            </div>
            <div class="panel-body">
                <form class="form-inline" role="form" method="get">
                    <div class="form-group">
                           <label class="sr-only"asp-for=" SareChModel.Name"></label> 
                           <input asp-for=" SareChModel.Name" class="form-control" placeholder="نام گروه محصولی" />

                    </div>
                    <button type="submit" class="btn btn-success waves-button-effect waves-light m-1-10">جستجو</button>
                    <a class="btn btn-primary waves-button-effect waves-light m-b-10 "asp-page="./Index">مشاهده ی همه</a>
                </form>
            </div>
        </div>
    </div>

</div>
<div class="row" id="">
    <div class=" col-md-12">
        <div class="panel panelbtn-default">
            <div class="panel-heading">
                <h3 class="panel-title">لیست گروه محصولات</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    
                                    <th>نام</th>
                                    <th>عکس</th>
                                    <th>تاریخ</th>
                                    <th>عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var item in Model.productCategories)
                                {
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <img src="@item.Picture" style="width: 70px; height: 70px" />
                                        </td>
                                        <td>@item.Name</td>
                                        <td>@item.CreationDate</td>
                                        <td>
                                            <a class="btn btn-warning pull-right m-rl-5"><i class="fa fa-edit"></i>ویرایش</a>
                                        </td>
                                    </tr>
                                }
                             
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/AdminTheme/assets/datatables/jquery.dataTables.min.js"></script>
    <script src="~/AdminTheme/assets/datatables//dataTables.bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $   ('#datatable').datatable();

        });
            
    </script>
}

